.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
div {
  display: block;
  /* margin: 10px; */
}

nav {
  display: block;

  .button {
    position: relative;
    width: 459px;
    height: 156px;
    margin: 0 auto;

    a {
      width: 153px;
      height: 153px;
    }

    &__about{
      left: 0px;
      right: 0px;
    }

    &__works{
      left: 141px;
    }

    &__contacts{
      left: 282px;
    }

    li {
      position: absolute;
      width: 153px;
      height: 153px;
      // top: 0;
      // left: 0;
    }
  }
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

nav ul {
  list-style: none;
  list-style-image: none;
}